.action-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  background: #fff;
  box-shadow: #cbcbcb 1px 1px 3px 1px;
  border-radius: 5px;
  color: #000;
}

.header .action-button {
  box-shadow: #5c3036 1px 1px 3px 1px;
}

.editable .action-button.remove {
  margin-left: 5px;
}

.action-button.remove {
  font-size: 0.8rem;
}

.action-button.add {
  font-size: 0.6rem;
}

.action-button.check {
  font-size: 1.2rem;
}
