.editable {
  position: relative;
  display: grid;
  align-items: center;
  min-height: 30px;
  width: 100%;
}

.editable h5 {
  font-size: 0.85rem;
}

.editable input,
.editable textarea,
.editable h1,
.editable h2,
.editable h3,
.editable h4,
.editable h5,
.editable span,
.editable p {
  padding: 3px;
  border: 2px solid #ffffff00;
  z-index: 10;
}

.editable span,
.editable div,
.editable p,
.editable input,
.editable textarea {
  font-size: 0.8rem;
}


.editable .action-buttons-container {
  display: none;
  padding-right: 6px;
  background: #c9c9c966;
  justify-content: end;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.editable .action-buttons-container button {
  position: relative;
  z-index: 20;
}

.editable:hover .action-buttons-container,
.editable.in-edit .action-buttons-container {
  display: flex;
}

.editable input, .editable textarea {
  width: 100%;
  outline: none;
  background: none;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 3px;
}

.editable.header-h1 input {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-color: #fff;
}

.editable.header-h2 input {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  border-color: #fff;
}

.editable.exp-title input {
  font-weight: 700;
}

.editable.exp-subtitle input {
  font-size: 0.85rem;
  font-weight: 700;
}

.editable.about-me textarea {
  min-height: 210px;
}
