.experiences {
    list-style: none;
}

.add-exp-container {
    display: none;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.add-exp-container:hover {
    background: #e9e9e9;
}

.experiences:hover .add-exp-container,
.experiences .add-exp-container:first-child {
    display: flex;
}