.skills {
  list-style-position: inside;
  list-style-type: disc;
}

.skills li::before {
  content: "";
  margin-right: -12px;
}

.skills li:last-child {
  display: none;
  padding-bottom: 10px;
}

.skills:hover li:last-child {
  display: list-item;
}

.skills .editable,
.skills .add-skill-container {
  width: calc(100% - 14px);
  display: inline-grid;
}

.add-skill-container {
  display: inline-block;
  padding: 3px;
  border: 2px solid #ffffff00;
  border-radius: 5px;
}

.add-skill-container:hover {
  background: #e9e9e9;
}
