.skills {
  list-style-position: inside;
  list-style-type: disc;
}

.skills li::before {
  content: "";
  margin-right: -12px;
}

.skills .editable {
  width: calc(100% - 14px);
  display: inline-grid;
}
