.cv-container {
  width: 900px;
  margin-bottom: 20px;
}

.column-container {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 30px 90px;
}

.left-column {
  padding-top: 100px;
}

.bottom-bar {
  height: 20px;
  background: #8d4b55;
}